In [1]:
## Grow the City's Population:
### Households with children, total households, working age population
## 2016-2021

In [2]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
%matplotlib inline

In [3]:
# Will use the below library when we format the axes on our plots
from matplotlib.ticker import FormatStrFormatter
from matplotlib import ticker

In [4]:
os.getcwd()

'C:\\Users\\Jenkir\\Desktop\\BDC\\Baltimore_Together\\measuring-success-metrics\\BT-equity-metric-analysis'

In [5]:
data_2016 = "ACS_population_2016.csv"
data_2017 = "ACS_population_2017.csv"
data_2018 = "ACS_population_2018.csv"
data_2019 = "ACS_population_2019.csv"
data_2021 = "ACS_population_2021.csv"

In [6]:
df_2016 = pd.read_csv(data_2016)
df_2016

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children
0,"Baltimore, 2016",59079,240761,614664,34.9,189260,384465,31144,129154,406262,79248,66,24

In [7]:
df_2017 = pd.read_csv(data_2017)
df_2017

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children
0,"Baltimore, 2017",59831,240280,611648,35.3,183988,383508,32495,126007,403089,82552,65,24

In [8]:
dfs1 = pd.concat([df_2016, df_2017], axis=0, sort=False)
dfs1

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children
0,"Baltimore, 2016",59079,240761,614664,34.9,189260,384465,31144,129154,406262,79248,66,24
0,"Baltimore, 2017",59831,240280,611648,35.3,183988,383508,32495,126007,403089,82552,65,24

In [9]:
df_2018 = pd.read_csv(data_2018)
df_2018

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children
0,"Baltimore, 2018",55371,237204,602495,35.5,183276,371664,33061,123114,395312,84069,65,23

In [10]:
df_2019 = pd.read_csv(data_2019)
df_2019

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children
0,"Baltimore, 2019",58250,242694,593490,35.9,179979,371243,33652,119567,387658,86265,65,24

In [11]:
dfs2 = pd.concat([df_2018, df_2019], axis=0, sort=False)
dfs2

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children
0,"Baltimore, 2018",55371,237204,602495,35.5,183276,371664,33061,123114,395312,84069,65,23
0,"Baltimore, 2019",58250,242694,593490,35.9,179979,371243,33652,119567,387658,86265,65,24

In [12]:
df_2021 = pd.read_csv(data_2021)
df_2021

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children
0,"Baltimore, 2021",55571,254370,576498,36.1,159246,344531,34810,116862,374406,85230,64,21

In [13]:
pop_df1 = pd.concat([dfs1, dfs2], axis=0, sort=False)
pop_df1

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children
0,"Baltimore, 2016",59079,240761,614664,34.9,189260,384465,31144,129154,406262,79248,66,24
0,"Baltimore, 2017",59831,240280,611648,35.3,183988,383508,32495,126007,403089,82552,65,24
0,"Baltimore, 2018",55371,237204,602495,35.5,183276,371664,33061,123114,395312,84069,65,23
0,"Baltimore, 2019",58250,242694,593490,35.9,179979,371243,33652,119567,387658,86265,65,24

In [14]:
Balt_df = pd.concat([pop_df1, df_2021], axis=0, sort=False)
Balt_df

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children
0,"Baltimore, 2016",59079,240761,614664,34.9,189260,384465,31144,129154,406262,79248,66,24
0,"Baltimore, 2017",59831,240280,611648,35.3,183988,383508,32495,126007,403089,82552,65,24
0,"Baltimore, 2018",55371,237204,602495,35.5,183276,371664,33061,123114,395312,84069,65,23
0,"Baltimore, 2019",58250,242694,593490,35.9,179979,371243,33652,119567,387658,86265,65,24
0,"Baltimore, 2021",55571,254370,576498,36.1,159246,344531,34810,116862,374406,85230,64,21

In [15]:
Balt_df[["Location", "Year"]] = Balt_df.Year.str.split(",", expand=True)
Balt_df

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children,Location
0,2016,59079,240761,614664,34.9,189260,384465,31144,129154,406262,79248,66,24,Baltimore
0,2017,59831,240280,611648,35.3,183988,383508,32495,126007,403089,82552,65,24,Baltimore
0,2018,55371,237204,602495,35.5,183276,371664,33061,123114,395312,84069,65,23,Baltimore
0,2019,58250,242694,593490,35.9,179979,371243,33652,119567,387658,86265,65,24,Baltimore
0,2021,55571,254370,576498,36.1,159246,344531,34810,116862,374406,85230,64,21,Baltimore

In [16]:
#Balt_df = Balt_df.drop(['Location'], axis=1)
#Balt_df

In [17]:
# Export df as an Excel file
#Balt_df.to_excel("ACS_population_Tableau.xlsx", index=False)

In [18]:
# import csv file of Maryland demographics
# first save the data from the csv in variable, "MD_2021" 

MD_2021 = "MD_population_2016-2021.csv"

In [19]:
# Create dataframe by reading the variable data from the code block above
MD_df = pd.read_csv(MD_2021)
MD_df

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children,Location
0,2016,707832,2194657,6016447,38.5,3397255,1793593,586730,1346152,3793847,876448,63,32,Maryland
1,2017,700975,2207343,6052177,38.7,3322483,1806673,612709,1346950,3802641,902586,62,31,Maryland
2,2018,694746,2215935,6042718,38.8,3305047,1810885,628435,1338355,3773322,931041,62,31,Maryland
3,2019,688650,2226767,6045680,39.0,3296909,1830059,643171,1332287,3753506,959887,62,30,Maryland
4,2021,719289,2355652,6165129,39.3,3018844,1810345,684323,1360097,3801649,1003383,61,30,Maryland

In [20]:
# merge the dataframes on the common column "Year"
Grow_pop_joined = pd.concat([Balt_df, MD_df], axis=0)
Grow_pop_joined

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children,Location
0,2016,59079,240761,614664,34.9,189260,384465,31144,129154,406262,79248,66,24,Baltimore
0,2017,59831,240280,611648,35.3,183988,383508,32495,126007,403089,82552,65,24,Baltimore
0,2018,55371,237204,602495,35.5,183276,371664,33061,123114,395312,84069,65,23,Baltimore
0,2019,58250,242694,593490,35.9,179979,371243,33652,119567,387658,86265,65,24,Baltimore
0,2021,55571,254370,576498,36.1,159246,344531,34810,116862,374406,85230,64,21,Baltimore
0,2016,707832,2194657,6016447,38.5,3397255,1793593,586730,1346152,3793847,876448,63,32,Maryland
1,2017,700975,2207343,6052177,38.7,3322483,1806673,612709,1346950,3802641,902586,62,31,Maryland
2,2018,694746,2215935,6042718,38.8,3305047,1810885,628435,1338355,3773322,931041,62,31,Maryland
3,2019,688650,2226767,6045680,39.0,3296909,1830059,643171,1332287,3753506,959887,62,30,Maryland
4,2021,719289,2355652,6165129,39.3,3018844,1810345,684323,1360097,3801649,1003383,61,30,Maryland

In [21]:
# Export df as an Excel file
Grow_pop_joined.to_excel("Grow_population_Tableau.xlsx", index=False)

# PLOTS