In [1]:
## Grow the City's Population:
### Households with children, total households, working age population - for state of MD
## 2016-2021

In [2]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
# Will use the below library when we format the axes on our plots
from matplotlib.ticker import FormatStrFormatter
from matplotlib import ticker

In [4]:
data_2016 = "MD_population_2016.csv"
data_2017 = "MD_population_2017.csv"
data_2018 = "MD_population_2018.csv"
data_2019 = "MD_population_2019.csv"
data_2021 = "MD_population_2021.csv"

In [5]:
df_2016 = pd.read_csv(data_2016)
df_2016

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children
0,"Maryland, 2016",707832,2194657,6016447,38.5,3397255,1793593,586730,1346152,3793847,876448,63,32

In [6]:
df_2017 = pd.read_csv(data_2017)
df_2017

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children
0,"Maryland, 2017",700975,2207343,6052177,38.7,3322483,1806673,612709,1346950,3802641,902586,62,31

In [7]:
dfs1 = pd.concat([df_2016, df_2017], axis=0, sort=False)
dfs1

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children
0,"Maryland, 2016",707832,2194657,6016447,38.5,3397255,1793593,586730,1346152,3793847,876448,63,32
0,"Maryland, 2017",700975,2207343,6052177,38.7,3322483,1806673,612709,1346950,3802641,902586,62,31

In [8]:
df_2018 = pd.read_csv(data_2018)
df_2018

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children
0,"Maryland, 2018",694746,2215935,6042718,38.8,3305047,1810885,628435,1338355,3773322,931041,62,31

In [9]:
df_2019 = pd.read_csv(data_2019)
df_2019

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children
0,"Maryland, 2019",688650,2226767,6045680,39.0,3296909,1830059,643171,1332287,3753506,959887,62,30

In [10]:
dfs2 = pd.concat([df_2018, df_2019], axis=0, sort=False)
dfs2

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children
0,"Maryland, 2018",694746,2215935,6042718,38.8,3305047,1810885,628435,1338355,3773322,931041,62,31
0,"Maryland, 2019",688650,2226767,6045680,39.0,3296909,1830059,643171,1332287,3753506,959887,62,30

In [11]:
df_2021 = pd.read_csv(data_2021)
df_2021

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children
0,"Maryland, 2021",719289,2355652,6165129,39.3,3018844,1810345,684323,1360097,3801649,1003383,61,30

In [12]:
pop_df1 = pd.concat([dfs1, dfs2], axis=0, sort=False)
pop_df1

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children
0,"Maryland, 2016",707832,2194657,6016447,38.5,3397255,1793593,586730,1346152,3793847,876448,63,32
0,"Maryland, 2017",700975,2207343,6052177,38.7,3322483,1806673,612709,1346950,3802641,902586,62,31
0,"Maryland, 2018",694746,2215935,6042718,38.8,3305047,1810885,628435,1338355,3773322,931041,62,31
0,"Maryland, 2019",688650,2226767,6045680,39.0,3296909,1830059,643171,1332287,3753506,959887,62,30

In [13]:
pop_df = pd.concat([pop_df1, df_2021], axis=0, sort=False)
pop_df

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children
0,"Maryland, 2016",707832,2194657,6016447,38.5,3397255,1793593,586730,1346152,3793847,876448,63,32
0,"Maryland, 2017",700975,2207343,6052177,38.7,3322483,1806673,612709,1346950,3802641,902586,62,31
0,"Maryland, 2018",694746,2215935,6042718,38.8,3305047,1810885,628435,1338355,3773322,931041,62,31
0,"Maryland, 2019",688650,2226767,6045680,39.0,3296909,1830059,643171,1332287,3753506,959887,62,30
0,"Maryland, 2021",719289,2355652,6165129,39.3,3018844,1810345,684323,1360097,3801649,1003383,61,30

In [14]:
pop_df[["Location", "Year"]] = pop_df.Year.str.split(",", expand=True)
pop_df

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children,Location
0,2016,707832,2194657,6016447,38.5,3397255,1793593,586730,1346152,3793847,876448,63,32,Maryland
0,2017,700975,2207343,6052177,38.7,3322483,1806673,612709,1346950,3802641,902586,62,31,Maryland
0,2018,694746,2215935,6042718,38.8,3305047,1810885,628435,1338355,3773322,931041,62,31,Maryland
0,2019,688650,2226767,6045680,39.0,3296909,1830059,643171,1332287,3753506,959887,62,30,Maryland
0,2021,719289,2355652,6165129,39.3,3018844,1810345,684323,1360097,3801649,1003383,61,30,Maryland

In [15]:
#pop_df = pop_df.drop(['Location'], axis=1)
#pop_df

In [16]:
# Export file as an Excel file
#pop_df.to_excel("MD_population_2016-2021.xlsx", index=False)

In [17]:
# Export file as csv without the Pandas index, but with the header
pop_df.to_csv("MD_population_2016-2021.csv", index=False, header=True)

# PLOTS

In [18]:
pop_df = pop_df.set_index("Year")