In [1]:
## Grow the City's Population:
### Households with children, total households, working age population
## 2017-2021

In [2]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data_2017 = "ACS_population_2017.csv"
data_2018 = "ACS_population_2018.csv"
data_2019 = "ACS_population_2019.csv"
data_2021 = "ACS_population_2021.csv"

In [4]:
df_2017 = pd.read_csv(data_2017)
df_2017

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children
0,"Baltimore, 2017",59831,240280,611648,35.3,183988,383508,32495,126007,403089,82552,65,24

In [5]:
df_2018 = pd.read_csv(data_2018)
df_2018

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children
0,"Baltimore, 2018",55371,237204,602495,35.5,183276,371664,33061,123114,395312,84069,65,23

In [6]:
dfs1 = pd.concat([df_2017, df_2018], axis=0, sort=False)
dfs1

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children
0,"Baltimore, 2017",59831,240280,611648,35.3,183988,383508,32495,126007,403089,82552,65,24
0,"Baltimore, 2018",55371,237204,602495,35.5,183276,371664,33061,123114,395312,84069,65,23

In [7]:
df_2019 = pd.read_csv(data_2019)
df_2019

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children
0,"Baltimore, 2019",58250,242694,593490,35.9,179979,371243,33652,119567,387658,86265,65,24

In [8]:
df_2021 = pd.read_csv(data_2021)
df_2021

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children
0,"Baltimore, 2021",55571,254370,576498,36.1,159246,344531,34810,116862,374406,85230,64,21

In [9]:
dfs2 = pd.concat([df_2019, df_2021], axis=0, sort=False)
dfs2

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children
0,"Baltimore, 2019",58250,242694,593490,35.9,179979,371243,33652,119567,387658,86265,65,24
0,"Baltimore, 2021",55571,254370,576498,36.1,159246,344531,34810,116862,374406,85230,64,21

In [10]:
pop_df = pd.concat([dfs1, dfs2], axis=0, sort=False)
pop_df

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children
0,"Baltimore, 2017",59831,240280,611648,35.3,183988,383508,32495,126007,403089,82552,65,24
0,"Baltimore, 2018",55371,237204,602495,35.5,183276,371664,33061,123114,395312,84069,65,23
0,"Baltimore, 2019",58250,242694,593490,35.9,179979,371243,33652,119567,387658,86265,65,24
0,"Baltimore, 2021",55571,254370,576498,36.1,159246,344531,34810,116862,374406,85230,64,21

In [11]:
pop_df[["Location", "Year"]] = pop_df.Year.str.split(",", expand=True)
pop_df

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children,Location
0,2017,59831,240280,611648,35.3,183988,383508,32495,126007,403089,82552,65,24,Baltimore
0,2018,55371,237204,602495,35.5,183276,371664,33061,123114,395312,84069,65,23,Baltimore
0,2019,58250,242694,593490,35.9,179979,371243,33652,119567,387658,86265,65,24,Baltimore
0,2021,55571,254370,576498,36.1,159246,344531,34810,116862,374406,85230,64,21,Baltimore

In [12]:
pop_df = pop_df.drop(['Location'], axis=1)
pop_df

,Year,Households with one or more people under 18 years,Total households,Population,Median age,Pop. white,Pop. Black,Pop. Hispanic origin,Pop. <18 years,Pop. working age,Pop. 65+ years,Percent working age,Percent households with children
0,2017,59831,240280,611648,35.3,183988,383508,32495,126007,403089,82552,65,24
0,2018,55371,237204,602495,35.5,183276,371664,33061,123114,395312,84069,65,23
0,2019,58250,242694,593490,35.9,179979,371243,33652,119567,387658,86265,65,24
0,2021,55571,254370,576498,36.1,159246,344531,34810,116862,374406,85230,64,21

In [13]:
# Export file as an Excel file
pop_df.to_excel("ACS_population_Tableau.xlsx")