In [1]:
## Build an equitable economy

#Unemployment and labor participation rates

In [2]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

In [3]:
# import Baltimore data
bdata_2015 = "balt_employment_2015.csv"
bdata_2016 = "balt_employment_2016.csv"
bdata_2017 = "balt_employment_2017.csv"
bdata_2018 = "balt_employment_2018.csv"
bdata_2019 = "balt_employment_2019.csv"
bdata_2021 = "balt_employment_2021.csv"

In [4]:
# import MD data
mdata_2015 = "MD_employment_2015.csv"
mdata_2016 = "MD_employment_2016.csv"
mdata_2017 = "MD_employment_2017.csv"
mdata_2018 = "MD_employment_2018.csv"
mdata_2019 = "MD_employment_2019.csv"
mdata_2021 = "MD_employment_2021.csv"

In [5]:
# import U.S. data
usdata_2015 = "us_employment_2015.csv"
usdata_2016 = "us_employment_2016.csv"
usdata_2017 = "us_employment_2017.csv"
usdata_2018 = "us_employment_2018.csv"
usdata_2019 = "us_employment_2019.csv"
usdata_2021 = "us_employment_2021.csv"

In [6]:
bdf_2015 = pd.read_csv(bdata_2015)
bdf_2015

,Year,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians,Location,Unemployment rate,Black unemployment,White unemployment,Labor participation rate,Black labor participation,White labor participation
0,2015,598106,136746,502319,301809,270992,30358,Baltimore,10.1,14.4,3.7,60.1,55.8,66.7

In [7]:
bdf_2015.columns

Index(['Year', 'Persons for whom poverty status determined',
       'Individuals- income below poverty level',
       'Population 16 years and over', 'In labor force', 'Employed civilians',
       'Unemployed civilians', 'Location', 'Unemployment rate',
       'Black unemployment', 'White unemployment', 'Labor participation rate',
       'Black labor participation', 'White labor participation'],
      dtype='object')

In [8]:
bdf_2016 = pd.read_csv(bdata_2016)
bdf_2016

,Year,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians,Location,Unemployment rate,Black unemployment,White unemployment,Labor participation rate,Black labor participation,White labor participation
0,2016,593353,130053,498366,312075,283328,27759,Baltimore,8.9,13.2,3.4,62.6,58.7,69.5

In [9]:
bdf_2016.columns

Index(['Year', 'Persons for whom poverty status determined',
       'Individuals- income below poverty level',
       'Population 16 years and over', 'In labor force', 'Employed civilians',
       'Unemployed civilians', 'Location', 'Unemployment rate',
       'Black unemployment', 'White unemployment', 'Labor participation rate',
       'Black labor participation', 'White labor participation'],
      dtype='object')

In [10]:
bdf_2017 = pd.read_csv(bdata_2017)
bdf_2017

,Year,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians,Location,Unemployment rate,Black unemployment,White unemployment,Labor participation rate,Black labor participation,White labor participation
0,2017,588922,130980,498844,307585,284018,23261,Baltimore,7.6,10.4,3.5,61.7,57.9,68.2

In [11]:
bdf_2017.columns

Index(['Year', 'Persons for whom poverty status determined',
       'Individuals- income below poverty level',
       'Population 16 years and over', 'In labor force', 'Employed civilians',
       'Unemployed civilians', 'Location', 'Unemployment rate',
       'Black unemployment', 'White unemployment', 'Labor participation rate',
       'Black labor participation', 'White labor participation'],
      dtype='object')

In [12]:
bdf_2018 = pd.read_csv(bdata_2018)
bdf_2018

,Year,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians,Location,Unemployment rate,Black unemployment,White unemployment,Labor participation rate,Black labor participation,White labor participation
0,2018,580628,107073,491977,307604,286050,20745,Baltimore,6.8,8.9,3.8,62.5,57.2,71.3

In [13]:
bdf_2018.columns

Index(['Year', 'Persons for whom poverty status determined',
       'Individuals- income below poverty level',
       'Population 16 years and over', 'In labor force', 'Employed civilians',
       'Unemployed civilians', 'Location', 'Unemployment rate',
       'Black unemployment', 'White unemployment', 'Labor participation rate',
       'Black labor participation', 'White labor participation'],
      dtype='object')

In [14]:
bdf_2019 = pd.read_csv(bdata_2019)
bdf_2019

,Year,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians,Location,Unemployment rate,Black unemployment,White unemployment,Labor participation rate,Black labor participation,White labor participation
0,2019,570960,115472,485560,303032,280352,22110,Baltimore,7.3,10,3.4,62.4,58,69.2

In [15]:
bdf_2019.columns

Index(['Year', 'Persons for whom poverty status determined',
       'Individuals- income below poverty level',
       'Population 16 years and over', 'In labor force', 'Employed civilians',
       'Unemployed civilians', 'Location', 'Unemployment rate',
       'Black unemployment', 'White unemployment', 'Labor participation rate',
       'Black labor participation', 'White labor participation'],
      dtype='object')

In [16]:
bdf_2021 = pd.read_csv(bdata_2021)
bdf_2021

,Year,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians,Location,Unemployment rate,Black unemployment,White unemployment,Labor participation rate,Black labor participation,White labor participation,Unnamed: 14,Unnamed: 15
0,2021.0,552925.0,127135.0,472136.0,294220.0,270242.0,23252.0,Baltimore,7.9,10.1,5.0,62.3,56.6,71.7,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
bdf_2021.columns

Index(['Year', 'Persons for whom poverty status determined',
       'Individuals- income below poverty level',
       'Population 16 years and over', 'In labor force', 'Employed civilians',
       'Unemployed civilians', 'Location', 'Unemployment rate',
       'Black unemployment', 'White unemployment', 'Labor participation rate',
       'Black labor participation', 'White labor participation', 'Unnamed: 14',
       'Unnamed: 15'],
      dtype='object')

In [18]:
# Combine all of the baltimore dataframes using pd.concat
dfb1 = pd.concat([bdf_2015,bdf_2016,bdf_2017,bdf_2018,bdf_2019,bdf_2021], axis=0, sort=False)
dfb1

,Year,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians,Location,Unemployment rate,Black unemployment,White unemployment,Labor participation rate,Black labor participation,White labor participation,Unnamed: 14,Unnamed: 15
0,2015.0,598106.0,136746.0,502319.0,301809.0,270992.0,30358.0,Baltimore,10.1,14.4,3.7,60.1,55.8,66.7,NaN,NaN
0,2016.0,593353.0,130053.0,498366.0,312075.0,283328.0,27759.0,Baltimore,8.9,13.2,3.4,62.6,58.7,69.5,NaN,NaN
0,2017.0,588922.0,130980.0,498844.0,307585.0,284018.0,23261.0,Baltimore,7.6,10.4,3.5,61.7,57.9,68.2,NaN,NaN
0,2018.0,580628.0,107073.0,491977.0,307604.0,286050.0,20745.0,Baltimore,6.8,8.9,3.8,62.5,57.2,71.3,NaN,NaN
0,2019.0,570960.0,115472.0,485560.0,303032.0,280352.0,22110.0,Baltimore,7.3,10.0,3.4,62.4,58.0,69.2,NaN,NaN
0,2021.0,552925.0,127135.0,472136.0,294220.0,270242.0,23252.0,Baltimore,7.9,10.1,5.0,62.3,56.6,71.7,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
dfb3 = dfb1.dropna(axis=0, how='all')
dfb3

,Year,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians,Location,Unemployment rate,Black unemployment,White unemployment,Labor participation rate,Black labor participation,White labor participation,Unnamed: 14,Unnamed: 15
0,2015.0,598106.0,136746.0,502319.0,301809.0,270992.0,30358.0,Baltimore,10.1,14.4,3.7,60.1,55.8,66.7,NaN,NaN
0,2016.0,593353.0,130053.0,498366.0,312075.0,283328.0,27759.0,Baltimore,8.9,13.2,3.4,62.6,58.7,69.5,NaN,NaN
0,2017.0,588922.0,130980.0,498844.0,307585.0,284018.0,23261.0,Baltimore,7.6,10.4,3.5,61.7,57.9,68.2,NaN,NaN
0,2018.0,580628.0,107073.0,491977.0,307604.0,286050.0,20745.0,Baltimore,6.8,8.9,3.8,62.5,57.2,71.3,NaN,NaN
0,2019.0,570960.0,115472.0,485560.0,303032.0,280352.0,22110.0,Baltimore,7.3,10.0,3.4,62.4,58.0,69.2,NaN,NaN
0,2021.0,552925.0,127135.0,472136.0,294220.0,270242.0,23252.0,Baltimore,7.9,10.1,5.0,62.3,56.6,71.7,NaN,NaN

In [20]:
dfb3 = dfb3.dropna(axis=1, how='all')
dfb3.head()

,Year,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians,Location,Unemployment rate,Black unemployment,White unemployment,Labor participation rate,Black labor participation,White labor participation
0,2015.0,598106.0,136746.0,502319.0,301809.0,270992.0,30358.0,Baltimore,10.1,14.4,3.7,60.1,55.8,66.7
0,2016.0,593353.0,130053.0,498366.0,312075.0,283328.0,27759.0,Baltimore,8.9,13.2,3.4,62.6,58.7,69.5
0,2017.0,588922.0,130980.0,498844.0,307585.0,284018.0,23261.0,Baltimore,7.6,10.4,3.5,61.7,57.9,68.2
0,2018.0,580628.0,107073.0,491977.0,307604.0,286050.0,20745.0,Baltimore,6.8,8.9,3.8,62.5,57.2,71.3
0,2019.0,570960.0,115472.0,485560.0,303032.0,280352.0,22110.0,Baltimore,7.3,10.0,3.4,62.4,58.0,69.2

In [21]:
dfb3.dtypes

Year                                          float64
Persons for whom poverty status determined    float64
Individuals- income below poverty level       float64
Population 16 years and over                  float64
In labor force                                float64
Employed civilians                            float64
Unemployed civilians                          float64
Location                                       object
Unemployment rate                             float64
Black unemployment                            float64
White unemployment                            float64
Labor participation rate                      float64
Black labor participation                     float64
White labor participation                     float64
dtype: object

In [22]:
dfb3 = dfb3.astype({"Year": 'int'})
dfb3.dtypes

Year                                            int32
Persons for whom poverty status determined    float64
Individuals- income below poverty level       float64
Population 16 years and over                  float64
In labor force                                float64
Employed civilians                            float64
Unemployed civilians                          float64
Location                                       object
Unemployment rate                             float64
Black unemployment                            float64
White unemployment                            float64
Labor participation rate                      float64
Black labor participation                     float64
White labor participation                     float64
dtype: object

In [23]:
dfb3 = dfb3.astype({"Year": 'string'})
dfb3.dtypes

Year                                           string
Persons for whom poverty status determined    float64
Individuals- income below poverty level       float64
Population 16 years and over                  float64
In labor force                                float64
Employed civilians                            float64
Unemployed civilians                          float64
Location                                       object
Unemployment rate                             float64
Black unemployment                            float64
White unemployment                            float64
Labor participation rate                      float64
Black labor participation                     float64
White labor participation                     float64
dtype: object

In [24]:
dfb3.columns

Index(['Year', 'Persons for whom poverty status determined',
       'Individuals- income below poverty level',
       'Population 16 years and over', 'In labor force', 'Employed civilians',
       'Unemployed civilians', 'Location', 'Unemployment rate',
       'Black unemployment', 'White unemployment', 'Labor participation rate',
       'Black labor participation', 'White labor participation'],
      dtype='object')

In [25]:
# change order of columns
dfb = dfb3.loc[:,['Location', 'Year','Persons for whom poverty status determined',
       'Individuals- income below poverty level',
       'Population 16 years and over', 'In labor force', 'Employed civilians',
       'Unemployed civilians', 'Unemployment rate',
       'Black unemployment', 'White unemployment', 'Labor participation rate',
       'Black labor participation', 'White labor participation', 
       ]]
dfb

,Location,Year,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians,Unemployment rate,Black unemployment,White unemployment,Labor participation rate,Black labor participation,White labor participation
0,Baltimore,2015,598106.0,136746.0,502319.0,301809.0,270992.0,30358.0,10.1,14.4,3.7,60.1,55.8,66.7
0,Baltimore,2016,593353.0,130053.0,498366.0,312075.0,283328.0,27759.0,8.9,13.2,3.4,62.6,58.7,69.5
0,Baltimore,2017,588922.0,130980.0,498844.0,307585.0,284018.0,23261.0,7.6,10.4,3.5,61.7,57.9,68.2
0,Baltimore,2018,580628.0,107073.0,491977.0,307604.0,286050.0,20745.0,6.8,8.9,3.8,62.5,57.2,71.3
0,Baltimore,2019,570960.0,115472.0,485560.0,303032.0,280352.0,22110.0,7.3,10.0,3.4,62.4,58.0,69.2
0,Baltimore,2021,552925.0,127135.0,472136.0,294220.0,270242.0,23252.0,7.9,10.1,5.0,62.3,56.6,71.7

In [26]:
mdf_2015 = pd.read_csv(mdata_2015)
mdf_2016 = pd.read_csv(mdata_2016)
mdf_2017 = pd.read_csv(mdata_2017)
mdf_2018 = pd.read_csv(mdata_2018)
mdf_2019 = pd.read_csv(mdata_2019)
mdf_2021 = pd.read_csv(mdata_2021)

In [27]:
# Combine all of the Maryland dataframes using pd.concat
dfm1 = pd.concat([mdf_2015,mdf_2016,mdf_2017,mdf_2018,mdf_2019,mdf_2021], axis=0, sort=False)
dfm1

,Year,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians,Location,Unemployment rate,Black unemployment,White unemployment,Labor participation rate,Black labor participation,White labor participation,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,2015.0,5863290.0,570776.0,4814546.0,3238521.0,3031466.0,175802.0,Maryland,4.0,7.9,4.2,67.3,67.2,66.3,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2016.0,5875026.0,567715.0,4819956.0,3277687.0,3073923.0,175235.0,Maryland,4.0,7.7,4.3,68.0,68.4,66.8,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2017.0,5915309.0,549171.0,4855374.0,3294443.0,3098182.0,170419.0,Maryland,4.0,7.6,4.1,67.9,68.5,66.5,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2018.0,5899819.0,528203.0,4852950.0,3283636.0,3090469.0,160777.0,Maryland,3.0,7.1,3.8,67.7,68.0,66.3,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2019.0,5898360.0,532241.0,4862424.0,3279799.0,3098870.0,147356.0,Maryland,3.0,6.9,3.4,67.5,67.3,66.3,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2021.0,6023847.0,618372.0,4964751.0,3304168.0,3070750.0,192275.0,Maryland,4.0,8.4,4.3,66.6,66.4,65.3,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
dfm1 = dfm1.dropna(axis=0, how='all')
dfm1

,Year,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians,Location,Unemployment rate,Black unemployment,White unemployment,Labor participation rate,Black labor participation,White labor participation,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,2015.0,5863290.0,570776.0,4814546.0,3238521.0,3031466.0,175802.0,Maryland,4.0,7.9,4.2,67.3,67.2,66.3,NaN,NaN,NaN
0,2016.0,5875026.0,567715.0,4819956.0,3277687.0,3073923.0,175235.0,Maryland,4.0,7.7,4.3,68.0,68.4,66.8,NaN,NaN,NaN
0,2017.0,5915309.0,549171.0,4855374.0,3294443.0,3098182.0,170419.0,Maryland,4.0,7.6,4.1,67.9,68.5,66.5,NaN,NaN,NaN
0,2018.0,5899819.0,528203.0,4852950.0,3283636.0,3090469.0,160777.0,Maryland,3.0,7.1,3.8,67.7,68.0,66.3,NaN,NaN,NaN
0,2019.0,5898360.0,532241.0,4862424.0,3279799.0,3098870.0,147356.0,Maryland,3.0,6.9,3.4,67.5,67.3,66.3,NaN,NaN,NaN
0,2021.0,6023847.0,618372.0,4964751.0,3304168.0,3070750.0,192275.0,Maryland,4.0,8.4,4.3,66.6,66.4,65.3,NaN,NaN,NaN

In [29]:
dfm1 = dfm1.dropna(axis=0, how='all')
dfm1

,Year,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians,Location,Unemployment rate,Black unemployment,White unemployment,Labor participation rate,Black labor participation,White labor participation,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,2015.0,5863290.0,570776.0,4814546.0,3238521.0,3031466.0,175802.0,Maryland,4.0,7.9,4.2,67.3,67.2,66.3,NaN,NaN,NaN
0,2016.0,5875026.0,567715.0,4819956.0,3277687.0,3073923.0,175235.0,Maryland,4.0,7.7,4.3,68.0,68.4,66.8,NaN,NaN,NaN
0,2017.0,5915309.0,549171.0,4855374.0,3294443.0,3098182.0,170419.0,Maryland,4.0,7.6,4.1,67.9,68.5,66.5,NaN,NaN,NaN
0,2018.0,5899819.0,528203.0,4852950.0,3283636.0,3090469.0,160777.0,Maryland,3.0,7.1,3.8,67.7,68.0,66.3,NaN,NaN,NaN
0,2019.0,5898360.0,532241.0,4862424.0,3279799.0,3098870.0,147356.0,Maryland,3.0,6.9,3.4,67.5,67.3,66.3,NaN,NaN,NaN
0,2021.0,6023847.0,618372.0,4964751.0,3304168.0,3070750.0,192275.0,Maryland,4.0,8.4,4.3,66.6,66.4,65.3,NaN,NaN,NaN

In [30]:
dfm1.dtypes

Year                                          float64
Persons for whom poverty status determined    float64
Individuals- income below poverty level       float64
Population 16 years and over                  float64
In labor force                                float64
Employed civilians                            float64
Unemployed civilians                          float64
Location                                       object
Unemployment rate                             float64
Black unemployment                            float64
White unemployment                            float64
Labor participation rate                      float64
Black labor participation                     float64
White labor participation                     float64
Unnamed: 14                                   float64
Unnamed: 15                                   float64
Unnamed: 16                                   float64
dtype: object

In [31]:
dfm1 = dfm1.astype({'Year':'int'})

In [32]:
dfm1 = dfm1.astype({'Year':'string'})

In [33]:
# change order of columns
dfm = dfm1.loc[:,['Location', 'Year','Persons for whom poverty status determined',
       'Individuals- income below poverty level',
       'Population 16 years and over', 'In labor force', 'Employed civilians',
       'Unemployed civilians', 'Unemployment rate',
       'Black unemployment', 'White unemployment', 'Labor participation rate',
       'Black labor participation', 'White labor participation', 
       ]]
dfm

,Location,Year,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians,Unemployment rate,Black unemployment,White unemployment,Labor participation rate,Black labor participation,White labor participation
0,Maryland,2015,5863290.0,570776.0,4814546.0,3238521.0,3031466.0,175802.0,4.0,7.9,4.2,67.3,67.2,66.3
0,Maryland,2016,5875026.0,567715.0,4819956.0,3277687.0,3073923.0,175235.0,4.0,7.7,4.3,68.0,68.4,66.8
0,Maryland,2017,5915309.0,549171.0,4855374.0,3294443.0,3098182.0,170419.0,4.0,7.6,4.1,67.9,68.5,66.5
0,Maryland,2018,5899819.0,528203.0,4852950.0,3283636.0,3090469.0,160777.0,3.0,7.1,3.8,67.7,68.0,66.3
0,Maryland,2019,5898360.0,532241.0,4862424.0,3279799.0,3098870.0,147356.0,3.0,6.9,3.4,67.5,67.3,66.3
0,Maryland,2021,6023847.0,618372.0,4964751.0,3304168.0,3070750.0,192275.0,4.0,8.4,4.3,66.6,66.4,65.3

In [34]:
usdf_2015 = pd.read_csv(usdata_2015)
usdf_2016 = pd.read_csv(usdata_2016)
usdf_2017 = pd.read_csv(usdata_2017)
usdf_2018 = pd.read_csv(usdata_2018)
usdf_2019 = pd.read_csv(usdata_2019)
usdf_2021 = pd.read_csv(usdata_2021)

In [35]:
# Combine all of the U.S. dataframes using pd.concat
dfus1 = pd.concat([usdf_2015,usdf_2016,usdf_2017,usdf_2018,usdf_2019,usdf_2021], axis=0, sort=False)
dfus1

,Location,Year,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians,Unemployment rate,Black unemployment,White unemployment,Labor participation rate,Black labor participation,White labor participation,Unnamed: 14
0,United States,2015.0,313476400.0,46153077.0,256167758.0,161662964.0,150534773.0,10117710.0,4.0,11.3,5.3,63.0,62.0,62.8,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,United States,2016.0,315165470.0,44268996.0,257950721.0,162892043.0,152571041.0,9308586.0,4.0,10.1,4.9,63.0,62.3,62.9,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,United States,2017.0,317741588.0,42583651.0,260564248.0,164727057.0,155058331.0,8645230.0,3.0,9.5,4.5,63.0,62.5,62.8,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,United States,2018.0,319184033.0,41852315.0,262185951.0,165907527.0,156783165.0,8115110.0,3.0,8.7,4.2,63.0,62.6,62.7,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,United States,2019.0,320118791.0,39490096.0,263534161.0,167501734.0,158758794.0,7515579.0,3.0,7.7,3.9,64.0,63.2,62.9,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,United States,2021.0,324173084.0,41393176.0,267057693.0,168236937.0,156380433.0,10519903.0,4.0,10.6,5.1,63.0,62.3,61.7,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
dfus1 = dfus1.dropna(axis=0, how='all')
dfus1

,Location,Year,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians,Unemployment rate,Black unemployment,White unemployment,Labor participation rate,Black labor participation,White labor participation,Unnamed: 14
0,United States,2015.0,313476400.0,46153077.0,256167758.0,161662964.0,150534773.0,10117710.0,4.0,11.3,5.3,63.0,62.0,62.8,NaN
0,United States,2016.0,315165470.0,44268996.0,257950721.0,162892043.0,152571041.0,9308586.0,4.0,10.1,4.9,63.0,62.3,62.9,NaN
0,United States,2017.0,317741588.0,42583651.0,260564248.0,164727057.0,155058331.0,8645230.0,3.0,9.5,4.5,63.0,62.5,62.8,NaN
0,United States,2018.0,319184033.0,41852315.0,262185951.0,165907527.0,156783165.0,8115110.0,3.0,8.7,4.2,63.0,62.6,62.7,NaN
0,United States,2019.0,320118791.0,39490096.0,263534161.0,167501734.0,158758794.0,7515579.0,3.0,7.7,3.9,64.0,63.2,62.9,NaN
0,United States,2021.0,324173084.0,41393176.0,267057693.0,168236937.0,156380433.0,10519903.0,4.0,10.6,5.1,63.0,62.3,61.7,NaN

In [37]:
dfus1 = dfus1.dropna(axis=1, how='all')
dfus1

,Location,Year,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians,Unemployment rate,Black unemployment,White unemployment,Labor participation rate,Black labor participation,White labor participation
0,United States,2015.0,313476400.0,46153077.0,256167758.0,161662964.0,150534773.0,10117710.0,4.0,11.3,5.3,63.0,62.0,62.8
0,United States,2016.0,315165470.0,44268996.0,257950721.0,162892043.0,152571041.0,9308586.0,4.0,10.1,4.9,63.0,62.3,62.9
0,United States,2017.0,317741588.0,42583651.0,260564248.0,164727057.0,155058331.0,8645230.0,3.0,9.5,4.5,63.0,62.5,62.8
0,United States,2018.0,319184033.0,41852315.0,262185951.0,165907527.0,156783165.0,8115110.0,3.0,8.7,4.2,63.0,62.6,62.7
0,United States,2019.0,320118791.0,39490096.0,263534161.0,167501734.0,158758794.0,7515579.0,3.0,7.7,3.9,64.0,63.2,62.9
0,United States,2021.0,324173084.0,41393176.0,267057693.0,168236937.0,156380433.0,10519903.0,4.0,10.6,5.1,63.0,62.3,61.7

In [38]:
dfus2 = dfus1.astype({'Year':'int'})

In [39]:
dfus2 = dfus2.astype({"Year":"string"})

In [40]:
# change order of columns
dfus = dfus2.loc[:,['Location', 'Year','Persons for whom poverty status determined',
       'Individuals- income below poverty level',
       'Population 16 years and over', 'In labor force', 'Employed civilians',
       'Unemployed civilians', 'Unemployment rate',
       'Black unemployment', 'White unemployment', 'Labor participation rate',
       'Black labor participation', 'White labor participation', 
       ]]

In [41]:
dfus

,Location,Year,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians,Unemployment rate,Black unemployment,White unemployment,Labor participation rate,Black labor participation,White labor participation
0,United States,2015,313476400.0,46153077.0,256167758.0,161662964.0,150534773.0,10117710.0,4.0,11.3,5.3,63.0,62.0,62.8
0,United States,2016,315165470.0,44268996.0,257950721.0,162892043.0,152571041.0,9308586.0,4.0,10.1,4.9,63.0,62.3,62.9
0,United States,2017,317741588.0,42583651.0,260564248.0,164727057.0,155058331.0,8645230.0,3.0,9.5,4.5,63.0,62.5,62.8
0,United States,2018,319184033.0,41852315.0,262185951.0,165907527.0,156783165.0,8115110.0,3.0,8.7,4.2,63.0,62.6,62.7
0,United States,2019,320118791.0,39490096.0,263534161.0,167501734.0,158758794.0,7515579.0,3.0,7.7,3.9,64.0,63.2,62.9
0,United States,2021,324173084.0,41393176.0,267057693.0,168236937.0,156380433.0,10519903.0,4.0,10.6,5.1,63.0,62.3,61.7

In [42]:
# Combine all of the remaining dataframes using pd.concat
Goal1_employment = pd.concat([dfb,dfm,dfus], axis=0, sort=False)
Goal1_employment

,Location,Year,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians,Unemployment rate,Black unemployment,White unemployment,Labor participation rate,Black labor participation,White labor participation
0,Baltimore,2015,598106.0,136746.0,502319.0,301809.0,270992.0,30358.0,10.1,14.4,3.7,60.1,55.8,66.7
0,Baltimore,2016,593353.0,130053.0,498366.0,312075.0,283328.0,27759.0,8.9,13.2,3.4,62.6,58.7,69.5
0,Baltimore,2017,588922.0,130980.0,498844.0,307585.0,284018.0,23261.0,7.6,10.4,3.5,61.7,57.9,68.2
0,Baltimore,2018,580628.0,107073.0,491977.0,307604.0,286050.0,20745.0,6.8,8.9,3.8,62.5,57.2,71.3
0,Baltimore,2019,570960.0,115472.0,485560.0,303032.0,280352.0,22110.0,7.3,10.0,3.4,62.4,58.0,69.2
0,Baltimore,2021,552925.0,127135.0,472136.0,294220.0,270242.0,23252.0,7.9,10.1,5.0,62.3,56.6,71.7
0,Maryland,2015,5863290.0,570776.0,4814546.0,3238521.0,3031466.0,175802.0,4.0,7.9,4.2,67.3,67.2,66.3
0,Maryland,2016,5875026.0,567715.0,4819956.0,3277687.0,3073923.0,175235.0,4.0,7.7,4.3,68.0,68.4,66.8
0,Maryland,2017,5915309.0,549171.0,4855374.0,3294443.0,3098182.0,170419.0,4.0,7.6,4.1,67.9,68.5,66.5
0,Maryland,2018,5899819.0,528203.0,4852950.0,3283636.0,3090469.0,160777.0,3.0,7.1,3.8,67.7,68.0,66.3
0,Maryland,2019,5898360.0,532241.0,4862424.0,3279799.0,3098870.0,147356.0,3.0,6.9,3.4,67.5,67.3,66.3
0,Maryland,2021,6023847.0,618372.0,4964751.0,3304168.0,3070750.0,192275.0,4.0,8.4,4.3,66.6,66.4,65.3
0,United States,2015,313476400.0,46153077.0,256167758.0,161662964.0,150534773.0,10117710.0,4.0,11.3,5.3,63.0,62.0,62.8
0,United States,2016,315165470.0,44268996.0,257950721.0,162892043.0,152571041.0,9308586.0,4.0,10.1,4.9,63.0,62.3,62.9
0,United States,2017,317741588.0,42583651.0,260564248.0,164727057.0,155058331.0,8645230.0,3.0,9.5,4.5,63.0,62.5,62.8
0,United States,2018,319184033.0,41852315.0,262185951.0,165907527.0,156783165.0,8115110.0,3.0,8.7,4.2,63.0,62.6,62.7
0,United States,2019,320118791.0,39490096.0,263534161.0,167501734.0,158758794.0,7515579.0,3.0,7.7,3.9,64.0,63.2,62.9
0,United States,2021,324173084.0,41393176.0,267057693.0,168236937.0,156380433.0,10519903.0,4.0,10.6,5.1,63.0,62.3,61.7

In [43]:
Goal1_employment.reset_index()

,index,Location,Year,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians,Unemployment rate,Black unemployment,White unemployment,Labor participation rate,Black labor participation,White labor participation
0,0,Baltimore,2015,598106.0,136746.0,502319.0,301809.0,270992.0,30358.0,10.1,14.4,3.7,60.1,55.8,66.7
1,0,Baltimore,2016,593353.0,130053.0,498366.0,312075.0,283328.0,27759.0,8.9,13.2,3.4,62.6,58.7,69.5
2,0,Baltimore,2017,588922.0,130980.0,498844.0,307585.0,284018.0,23261.0,7.6,10.4,3.5,61.7,57.9,68.2
3,0,Baltimore,2018,580628.0,107073.0,491977.0,307604.0,286050.0,20745.0,6.8,8.9,3.8,62.5,57.2,71.3
4,0,Baltimore,2019,570960.0,115472.0,485560.0,303032.0,280352.0,22110.0,7.3,10.0,3.4,62.4,58.0,69.2
5,0,Baltimore,2021,552925.0,127135.0,472136.0,294220.0,270242.0,23252.0,7.9,10.1,5.0,62.3,56.6,71.7
6,0,Maryland,2015,5863290.0,570776.0,4814546.0,3238521.0,3031466.0,175802.0,4.0,7.9,4.2,67.3,67.2,66.3
7,0,Maryland,2016,5875026.0,567715.0,4819956.0,3277687.0,3073923.0,175235.0,4.0,7.7,4.3,68.0,68.4,66.8
8,0,Maryland,2017,5915309.0,549171.0,4855374.0,3294443.0,3098182.0,170419.0,4.0,7.6,4.1,67.9,68.5,66.5
9,0,Maryland,2018,5899819.0,528203.0,4852950.0,3283636.0,3090469.0,160777.0,3.0,7.1,3.8,67.7,68.0,66.3
10,0,Maryland,2019,5898360.0,532241.0,4862424.0,3279799.0,3098870.0,147356.0,3.0,6.9,3.4,67.5,67.3,66.3
11,0,Maryland,2021,6023847.0,618372.0,4964751.0,3304168.0,3070750.0,192275.0,4.0,8.4,4.3,66.6,66.4,65.3
12,0,United States,2015,313476400.0,46153077.0,256167758.0,161662964.0,150534773.0,10117710.0,4.0,11.3,5.3,63.0,62.0,62.8
13,0,United States,2016,315165470.0,44268996.0,257950721.0,162892043.0,152571041.0,9308586.0,4.0,10.1,4.9,63.0,62.3,62.9
14,0,United States,2017,317741588.0,42583651.0,260564248.0,164727057.0,155058331.0,8645230.0,3.0,9.5,4.5,63.0,62.5,62.8
15,0,United States,2018,319184033.0,41852315.0,262185951.0,165907527.0,156783165.0,8115110.0,3.0,8.7,4.2,63.0,62.6,62.7
16,0,United States,2019,320118791.0,39490096.0,263534161.0,167501734.0,158758794.0,7515579.0,3.0,7.7,3.9,64.0,63.2,62.9
17,0,United States,2021,324173084.0,41393176.0,267057693.0,168236937.0,156380433.0,10519903.0,4.0,10.6,5.1,63.0,62.3,61.7

In [44]:
# Using drop=True will remove the old "index" column
Goal1_employment.reset_index(drop=True)

,Location,Year,Persons for whom poverty status determined,Individuals- income below poverty level,Population 16 years and over,In labor force,Employed civilians,Unemployed civilians,Unemployment rate,Black unemployment,White unemployment,Labor participation rate,Black labor participation,White labor participation
0,Baltimore,2015,598106.0,136746.0,502319.0,301809.0,270992.0,30358.0,10.1,14.4,3.7,60.1,55.8,66.7
1,Baltimore,2016,593353.0,130053.0,498366.0,312075.0,283328.0,27759.0,8.9,13.2,3.4,62.6,58.7,69.5
2,Baltimore,2017,588922.0,130980.0,498844.0,307585.0,284018.0,23261.0,7.6,10.4,3.5,61.7,57.9,68.2
3,Baltimore,2018,580628.0,107073.0,491977.0,307604.0,286050.0,20745.0,6.8,8.9,3.8,62.5,57.2,71.3
4,Baltimore,2019,570960.0,115472.0,485560.0,303032.0,280352.0,22110.0,7.3,10.0,3.4,62.4,58.0,69.2
5,Baltimore,2021,552925.0,127135.0,472136.0,294220.0,270242.0,23252.0,7.9,10.1,5.0,62.3,56.6,71.7
6,Maryland,2015,5863290.0,570776.0,4814546.0,3238521.0,3031466.0,175802.0,4.0,7.9,4.2,67.3,67.2,66.3
7,Maryland,2016,5875026.0,567715.0,4819956.0,3277687.0,3073923.0,175235.0,4.0,7.7,4.3,68.0,68.4,66.8
8,Maryland,2017,5915309.0,549171.0,4855374.0,3294443.0,3098182.0,170419.0,4.0,7.6,4.1,67.9,68.5,66.5
9,Maryland,2018,5899819.0,528203.0,4852950.0,3283636.0,3090469.0,160777.0,3.0,7.1,3.8,67.7,68.0,66.3
10,Maryland,2019,5898360.0,532241.0,4862424.0,3279799.0,3098870.0,147356.0,3.0,6.9,3.4,67.5,67.3,66.3
11,Maryland,2021,6023847.0,618372.0,4964751.0,3304168.0,3070750.0,192275.0,4.0,8.4,4.3,66.6,66.4,65.3
12,United States,2015,313476400.0,46153077.0,256167758.0,161662964.0,150534773.0,10117710.0,4.0,11.3,5.3,63.0,62.0,62.8
13,United States,2016,315165470.0,44268996.0,257950721.0,162892043.0,152571041.0,9308586.0,4.0,10.1,4.9,63.0,62.3,62.9
14,United States,2017,317741588.0,42583651.0,260564248.0,164727057.0,155058331.0,8645230.0,3.0,9.5,4.5,63.0,62.5,62.8
15,United States,2018,319184033.0,41852315.0,262185951.0,165907527.0,156783165.0,8115110.0,3.0,8.7,4.2,63.0,62.6,62.7
16,United States,2019,320118791.0,39490096.0,263534161.0,167501734.0,158758794.0,7515579.0,3.0,7.7,3.9,64.0,63.2,62.9
17,United States,2021,324173084.0,41393176.0,267057693.0,168236937.0,156380433.0,10519903.0,4.0,10.6,5.1,63.0,62.3,61.7

In [45]:
# Export file as an Excel file, to be imported into Tableau
Goal1_employment.to_excel("./viz_source_files/Goal1_employment.xlsx", index=False)

In [46]:
#Goal1_mapped = Goal1_income.copy()

In [47]:
# see https://towardsdatascience.com/apply-thousand-separator-and-other-formatting-to-pandas-dataframe-45f2f4c7ab01
#Goal1_formatted.loc[:,"Median household income_formatted"] ='$'+ Goal1_mapped["Median household income"].map('{:,.0f}'.format)

#Goal1_formatted